/* .navbar { 

}
.navbar a {} links inside the navbar
.navbar a:hover {} color of links when hovering
.navbar a.active {} highlights when you're on that page

.searchbar{} */



.column {
    width: 25%;
  }
  
#artist_name {
    text-decoration-color: blue;
    align-content:left;
  }
  
#artist_album {
    text-decoration-color:blueviolet;
    align-content:right;
  }
  
#artist_toptrack {
    text-decoration-color: red;
    align-content:center;
  }

  
.row.after {
    content: "";
    display: table;
    clear: both;
}