/* Experimental colors
F7F2DC Background
EDE4BB Beige
EFE2AB Beige 2
E8D995 Beige 3
DBCA82 Dark Beige

4F8989 Teal
303030 dark background */

body {
  background-color:#303030;
}

.container-fluid {
  background: url('/static/images/darkBackground.png') no-repeat center center;
  background-size: cover;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 25%;
}

a {
  text-decoration: none;
}

#maincharacterenergy {
    color:white;
    font-family: filmotype-maxwell, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin-left: 2%;
}

.row {
  align-content: center;
}

 .navbar { 
   background-color:#4F8989;
   color: white;
   border-radius: 10px;
   margin-left: 2%;
   margin-right: 2%;
   height: 50px;
   margin-top: 28px;
}

.navbar a:active, .dropdown a:active {
  color:#4F8989;
  background-color:white;
}

.dropdown {
  visibility: collapse;
  overflow: hidden;
  width:100%;
}

.dropbtn{
  padding-top: 5px;
}

.navbar:hover .dropbtn{
  color:#4F8989;
}

.navbar:hover{
  color:#4F8989;
  background-color:white;
}

.navbar:hover .dropdown {
  visibility:visible;
  width:100%;
}

/* Notice no , ^ because this is refering to the children of .navbar ->.dropdown */

.searchbar {
  margin-top: 50;
  margin-bottom: 20px;
  align-items: center;
  color:white;
}

#search-button{
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

#searchformlabel{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 2%;
}



table {
  width:100%;
}

.playlist {
  margin-top: 20px;
  color:white;
  align-content: center;
  margin-top: 10px;
  background-color: rgba(79, 137, 137, .25);
}

.playlist:hover {
  background-color: rgba(79, 137, 137, 1);
}

 .column_head {
  margin-right: 20px;
  color:white;
  background-color: #4F8989;
}

.artist_pic {
  height: 100px;
  width: 100px;
  margin-right: 2%;

}

.artist_name {
    color:white;
    /* font-family: filmotype-maxwell, sans-serif; */
    font-weight: 400;
    font-style: normal;
    margin-right: 1%;
  }
  
.artist_album {
    color:white;
    /* font-family: hwt-arabesque, sans-serif; */
    font-weight: 400;
    font-style: normal;
    margin-right: 1%;
  }
  
.artist_toptrack {
  color:white;
  margin-right: 1%;
 }

.track_preview a{
  text-decoration: none;
  color:white;
}



.newpeople{
  margin-top: 150px;
}

.newpeople input{
  margin-right: 20px;
}

.newartist{
  margin-top: 5%;
}

.newartist input{
  margin-right:20px;
  margin-top: 50px;
}

.login {
  margin-top: 150px;
}

#loginsub {
  margin-top: 20px;
  align-items: center;
}


.aboutgreeting {
  color:white;
  margin-left: 2%;
}

.aboutheader {
  color:white;
  justify-content: center;
  margin-top: 2%;
}

.aboutheader2 {
  color:white;
  justify-content: center;
  margin-top: 10%;
}

.profilepic{
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
}

.intro {
  margin-bottom: 3%;
  margin-left:2%;
}

.The-Code {
  font-family: hwt-arabesque, sans-serif;
  font-size: 60px;
  color:white;
  width:30%;
}

  .The-Code:hover {
    color:#4F8989;}

p {
  color:white;
  justify-content: center;
  margin-top: 2%;
}

.about {
  margin-top: 2%;
}


.bottom-bar {
  border-radius: 10px;
  background-color:#4F8989;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-bar a {
  color: white;
}