.maincharacterenergy {
    color:seagreen;
    font-family: filmotype-maxwell, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:180;

}

/* .navbar { 

}
.navbar a {} links inside the navbar
.navbar a:hover {} color of links when hovering
.navbar a.active {} highlights when you're on that page */
/* 

.column_head {
    margin-right: 20px;
} */

a {
  text-decoration: none;
  text-decoration-color: none;
}

.artist_name {
    color: blue;
    font-family: filmotype-maxwell, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.artist_album {
    color:blueviolet;
    font-family: hwt-arabesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.artist_toptrack {
    color: red;
  }

/* .track_preview {
} */

.dropdown {
  overflow: hidden;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:green;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


