{% extends 'base.html' %}

{% block body %}

    <h2 class="aboutheader justify-content-center">Hello, my name is Mehayla.</h2>

    <p class='justify-content-center'> Thanks for looking at my project! I coded and designed 
        it all myself! It is perfectly imperfect and a work in 
        progress, just like mylsef.</p>

    <p class='justify-content-center'> This project was built using the spotify API and a data 
        set from ____{nameeee}____. He is data scientist from NY 
        that was doing a maping project with artists. I used his 
        gathered data as a jumping off point.</p>

    <h3 class="aboutheader justify-content-center">You can see the project code here</h3>
        <h4><a class='The-Code' href = 'https://github.com/Mehayla/LocalSounds'>Da Code</a></h4>

    <h3 class="aboutheader justify-content-center">Check on the projects current status here</h3>
        <h4><a class='The-Code' href = 'https://github.com/users/Mehayla/projects/1'>Da Status</a></h4>

{% endblock %}