{% extends 'base.html' %}

{% block body %}

    <div class='about row'>
        <div class='col-4'>
            <h2 class="aboutgreeting">Hello, my name is Mehayla.</h2>

            <image class='profilepic' src="/static/images/GradPhoto.jpg" width="400" height="300"></image>

            <p class='intro'> Thanks for looking at my project! I coded and designed 
                it with the support of the amazing Hackbright staff. It is perfectly imperfect and a work in 
                progress, just like myself.</p>
        </div>

        <div class='col-5 offset-1'>
            <h3 class="aboutheader">You can see the project code here</h3>
                <a class='The-Code' href = 'https://github.com/Mehayla/LocalSounds'>Da Code</a>

            <h3 class="aboutheader2">Check on the projects current status here</h3>
                <a class='The-Code' href = 'https://github.com/users/Mehayla/projects/1'>Da Status</a>
        </div>
    </div>

{% endblock %}