{% extends 'base.html' %}

{% block body %}

<div id='welcome-message'>Welcome {{ name }}</div>

<form class="searchbar" action='/' method='post'>
    <div class="row" id="searchformlabel">
        <label for="search-keyword">Search by Place</label>
        <small class="form-text text-muted">
        </small>
    </div>

    <input class="col-3 offset-3" type="text" placeholder="City" id="city" name="city">
    <input class="col-3" type="text" placeholder="US State/Country" id="state" name="state">

    <input type="submit" id="search-button"></input>
</form>

<div id = 'playlist'> 
    <div class="row">
        {% for column_header in column_headers %}
                <div class='column_head col'>{{ column_header }}</div>
        {% endfor %}
    </div>

    {% for item in playlist %}
        <div class='playlist row'>
            <image class='artist_pic col' src="{{ playlist[item]['artist_pic'] }}" alt='Artist image'>
            <div class='artist_name col'>{{ playlist[item]['artist_name'] }}</div>
            <div class='artist_toptrack col'>{{ playlist[item]['track_name'] }}</div>
            <div class='artist_album col'>{{ playlist[item]['album_name'] }}</div>
            <div class='track_preview col'>{{ playlist[item]['track_preview'] }}</div>
        </div>
    {% endfor %}
</div>


<!-- USE REACT TO JUST UPDATE THE HOMEPAGE WITH A PLAYLIST????? THAT MIGHT BE EASIEST DEPENDING ON HOW API WORKS -->
<!-- Use AJAX to to populate React compnents w/ info from Flask -->

{% endblock %}

<!-- {% block js %}
    <script type='text/jsx' src='/Static/PlaylistRec.jsx'></script>
    <script type='text/jsx' src='/Static/JS/playlist_rec.js'></script>
{% endblock %} -->
