{% extends 'base.html' %}

{% block body %}

<form id="searchbar" action='/' method='post'>
        <label for="search-keyword">Search Keyword</label>
        <small class="form-text text-muted">
        </small>

    <input type="text" placeholder="City" id="city" name="city">
    <input type="text" placeholder="US State/Country" id="state" name="state">
    <input type="submit" id="search-button"></input>
</form>

<div id = 'playlist'> 
 
    {% for column_header in column_headers %}
            <div class='column_head' class='col'>{{ column_header }}</div>
    {% endfor %}

    {% for item in playlist %}
        <div class='row'>
            <div class='artist_name' class='col'>{{ playlist[item]['artist_name'] }}</div>
            <div class='artist_toptrack' class='col'>{{ playlist[item]['track_name'] }}</div>
            <div class='artist_album' class='col'>{{ playlist[item]['album_name'] }}</div>
            <div class='track_preview' class='col'>{{ playlist[item]['track_preview'] }}</div>
        </div>
    {% endfor %}
</div>


<!-- USE REACT TO JUST UPDATE THE HOMEPAGE WITH A PLAYLIST????? THAT MIGHT BE EASIEST DEPENDING ON HOW API WORKS -->
<!-- Use AJAX to to populate React compnents w/ info from Flask -->

{% endblock %}

<!-- {% block js %}
    <script type='text/jsx' src='/Static/PlaylistRec.jsx'></script>
    <script type='text/jsx' src='/Static/JS/playlist_rec.js'></script>
{% endblock %} -->
