{% extends 'base.html' %}

{% block body %}
        
    <form class="newartist col-8 mx-auto">
        <input type="text" placeholder="Artist Name" class="aname" name="aname">
        <input type="text" placeholder="Password" class="password" name="password">
        <input type="text" placeholder="City" class="city" name="city">
        <input type="text" placeholder="US State/Country if not in US" class="state" name="state">
        <input type="text" placeholder="Band Camp Link (optional)" class="bc_link" name="bc_link">
        <input type="text" placeholder="Spotify" class="link_1" name="link_1">
        <input type="text" placeholder="Other Links" class="link_2" name="link_2">

        <input type="submit" id="search-button"></input>
    </form>
{% endblock %}


{% block js %}
    <script src='/static/js/localsound.js'></script>
{% endblock %}